{% extends 'base.html.twig' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="py-5 text-center">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-xl-6 col-lg-6 col-md-8 col-sm-10 col-12 bg-white p-5">
                        <h1 class="mb-4">Login</h1>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% else %}
                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.password) }}
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <button type="submit" class="btn w-100 btn-primary text-white text-uppercase">
                                Sign in
                            </button>
                            {{ form_end(form) }}
                            <hr/>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-center text-sm-center text-md-center text-lg-left text-xl-left">
                                    <a href="{{ path('app_sign_up') }}">Sign up</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
