{% extends 'base.html.twig' %}

{% set title = 'Sign up' %}
{% set description = 'Sign up' %}
{% set words = 'Sign up, register' %}

{% block title %}{{ title }}{% endblock title %}
{% block seoDescription %}{{ description }}{% endblock seoDescription %}
{% block seoKeyWords %}{{ words }}{% endblock seoKeyWords %}
{% block seoOgTitle %}{{ title }}{% endblock seoOgTitle %}
{% block seoOgDescription %}{{ description }}{% endblock seoOgDescription %}
{% block seoTwitterTitle %}{{ title }}{% endblock seoTwitterTitle %}

{% block content %}
    <div class="container-fluid">
        <div class="py-5 text-center">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-xl-6 col-lg-6 col-md-8 col-sm-10 col-12 bg-white p-5">
                        <h1 class="mb-4">Login</h1>

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% else %}
                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            {{ form_start(form) }}

                            <div class="form-group">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(form.password) }}
                                {{ form_errors(form.password) }}
                            </div>

                            <div class="form-row  d-flex align-items-center mb-2">
                                <div class="col-auto mb-2">
                                    <button type="submit" class="btn btn-primary">Create account</button>
                                </div>
                            </div>

                            {{ form_end(form) }}
                            <hr/>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-center text-sm-center text-md-center text-lg-left text-xl-left">
                                    <a href="{{ path('app_login') }}">Login</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
