{% if app.session.flashbag.peekAll|length > 0 %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ type ? type : '' }} my-0">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                {{ message|trans({}, domain|default('messages')) }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
