{% if is_granted('ROLE_USER') %}
    <a href="{{ path('app_dashboard') }}"
       title="Dashboard"
       class="btn btn-primary">
        Dashboard
    </a>

    <a href="{{ path('app_logout') }}" title="Logout"
       class="btn btn-primary">
        Exit
    </a>
{% else %}
    <a href="{{ path('app_login') }}" title="Signin" class="btn btn-primary">
        Login
    </a>
    <a href="{{ path('app_sign_up') }}" title="Sign up" class="btn btn-primary">
        Signup
    </a>
{% endif %}
