<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block meta %}
        {% set imageLogoUrl = '' %}
        {% set currentUri = 'https' ~'://' ~ app.request.httpHost ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

        <title>{% block title %}Simple app{% endblock title %}</title>
        <meta name="description" content="{% block seoDescription %}Simple app{% endblock seoDescription %}"/>
        <meta name="keywords" content="{% block seoKeyWords %}Somple app{% endblock seoKeyWords %}"/>
    {% endblock %}

    {% include 'sections/favicon.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('base') }}
    {% endblock %}
</head>
<body>

{% block navbar %}
    {% include 'sections/navbar.html.twig' %}
{% endblock %}

{% include 'sections/alert.html.twig' %}

{% block content %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}
    {{ encore_entry_script_tags('base') }}
{% endblock %}

{% block googleAnalytics %}
{% endblock %}
</body>
</html>
