{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    <h2>My profile</h2>
    <ul>
        <li><b>id</b> {{ user.getId() }} <b>email</b> {{ user.getEmail() }}</li>
    </ul>

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Users</h2>
        <ul>
            {% for user in users %}
                <li><b>id</b> {{ user.getId() }} <b>email</b> {{ user.getEmail() }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
